* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}


h1 {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 34px;
}
.calculator {
    background-color: white;
    border: 1px solid black ;
    box-shadow: 2px 5px 10px black;
    width: 380px;
    height: 320px;
    margin: auto;
    justify-items: center; 
    
}



button {
    padding: 10px;
    border: 1px solid black;
    border-color: black;
    background-color:white;
    font-size: 15px;
    margin: 0px;
    width: 62px;
    
    cursor: pointer;

    
    
    
}

textarea {
    width: 250px;
    height: 35px;
    display: block;
    resize: none;
    color: black;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin: 0 auto;
}

table {
    width: 250px;
    margin: 0 auto;
}